$white: #FFFFFF;
$grey: #f9f9f9;
$borderGray: #D0D0D0;
$slate: #495867;
$primary: #7daa92;
$primaryHover: rgba(125, 170, 146, 0.8);
$placeholder: rgba(0, 0, 0, 0.6);
$titleFont: 'Poppins', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$contentPadding: 32px;
$borderRadius: 4px;
$label: 10px;
$body: 14px;
$opacitySecondary: 0.6;
$inputPadding: 8px;
$btnPadding: 8px 16px;
$lowCastShadow: 0px 4px 16px 0px rgba(37, 36, 34, .1);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: $white;
}

h1, h2, h3, h4, h5, b {
  margin: 0;
  font-family: $titleFont;
}

input {
  border: none;
  background: none;
}

#chat-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: $bodyFont;
}

@media only screen and (max-width: 750px) {
  #chat-app {
    padding-top: 64px;
    justify-content: flex-start;
  }  
}