$white: #FFFFFF;
$grey: #CACFD6;
$primary: #7daa92;
$primaryHover: rgba(125, 170, 146, 0.8);
$placeholder: rgba(0, 0, 0, 0.6);
$titleFont: 'Poppins', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$contentPadding: 32px;
$borderRadius: 4px;
$label: 10px;
$body: 14px;
$title: 20px;
$opacitySecondary: 0.6;
$inputPadding: 8px;
$btnPadding: 8px 16px;
$messagePadding: 8px 16px;
$lowCastShadow: 0px 4px 16px 0px rgba(37, 36, 34, .1);
$insetLowCastShadow: inset 0px 4px 16px -8px rgba(37, 36, 34, .1);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

h1, h2, h3, h4, h5, b {
  margin: 0;
  font-family: $titleFont;
}

input {
  border: none;
  background: none;
}

#chat-app {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: $bodyFont;
}

.text--label {
  font-size: $label;
  text-transform: uppercase;
}

.btn {
  font-size: $body;
  border: none;
  margin-top: 32px;
  text-transform: capitalize;
  background-color: $primary;
  color: $white;
  border-radius: $borderRadius;
  padding: $btnPadding;
  outline: none;
  transition: background-color 100ms ease-in-out;

  &:focus, &:hover {
    cursor: pointer;
    background-color: $primaryHover;
  }
}

@media only screen and (max-width: 750px) {
  #chat-app {
    justify-content: flex-start;
  }  
}