.join {
  color: #FFFFFF;
}

.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.join__heading {
  margin-bottom: 32px;
}

.join__form {
  margin-bottom: 16px;
}

.join__input {
  min-width: 250px;
  font-size: 12pt;
  padding: 8pt 0;
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  outline: none;

  transition: border-bottom 200ms ease-in-out;
}

.join__input:focus {
  border-bottom: 1px solid #5BC8AF;
}


.button__container--join {
  width: 100%;
}

.button--join {
  width: 100%;
  text-align: center;
  font-size: 12pt;
  padding: 8pt 16pt;
}