@import './../chat-app/global-styles.scss';

#login {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: $borderRadius;
  padding: $contentPadding;
  box-shadow: $lowCastShadow;

  .login__site-logo {
    align-self: center;
    margin-bottom: 32px;
    height: 48px;
  }

  .login__title {
    color: $primary;
  }
  
  .login__form {
    display: flex;
    flex-direction: column;

    .form__label {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      
      .form__text-input {
        border: 1px solid $borderGray;
        font-size: $body;
        min-width: 250px;
        margin-top: 2px;
        border-radius: $borderRadius;
        padding: $inputPadding;
        background-color: $white;
        outline: none;
        transition: border 100ms ease-in-out;

        &::placeholder {
          color: $placeholder;
        }
        
        &:focus {
          border-color: $primary;
        }
      }
    }
  }
}