@import './../chat-app/global-styles.scss';

#chat {
  border-left: 1px solid $grey;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .chat__header {
    background-color: $white;
    padding: 16px 32px;
    margin: 8px;
    border-radius: 4px;
    box-shadow: $lowCastShadow;
    border-bottom: 1px solid $grey;

    .header__title {
      font-size: $title;
      color: $primary;
    }
    
    .header__members {
      font-size: $body;
      opacity: 0.6;
    }
  }

  .chat__content {
    margin: 8px;
    margin-top: 0;
    border-radius: $borderRadius;
    box-shadow: $lowCastShadow;
    background-color: $white;
    flex: 1;
    display: flex;
    flex-direction: column;

    .chat__messages {
      border-bottom: 1px solid $grey;
      padding: $contentPadding;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }      
    }

    .chat__new-message-form {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .new-message-form__input {
        font-size: $body;
        flex: 1;
        padding: 16px;
        outline: none;
      }

      .btn.btn--send-message {
        padding: 16px;
        margin-top: 0;
        background-color: $white;
        color: $primary;
        transition: color 100ms ease-in-out;

        &:hover, &:focus {
          color: $primaryHover;
        }
      }
    }
  }
}